###
# Feedpushr configuration
###

# Authentication method, default is ".htpasswd"
# Password file for basic HTTP authentication.
# Issuer base URL for OpenID Connect authentication.
# Example: `/etc/feedpushr.htpasswd`
FP_AUTHN={{feedpushr_authn}}

# Authorized username, default is "*" for all
# Examples: `foo`
FP_AUTHORIZED_USERNAME={{feedpushr_authorized_username}}

# Cache retention duration, default is "72h"
FP_CACHE_RETENTION={{feedpushr_retention_duration}}

# Clear cache at service startup, default is "false"
# Should not be activated for production.
FP_CLEAR_CACHE={{feedpushr_clear_cache}}

# Clear the configuration at service startup, default is "false"
# Should not be activated for production.
FP_CLEAR_CONFIG={{feedpushr_clear_config}}

# Database location, default is "boltdb://data.db"
FP_DB=boltdb:{{feedpushr_db}}

# Delay between aggregations, default is "1m"
# Examples: `30s`, `15m`, `1h`
FP_DELAY={{feedpushr_delay}}

# Delay between deployment of each aggregator, default is "0s"
# Examples: `300ms`, `5s`
FP_FAN_OUT_DELAY={{feedpushr_fan_out_delay}}

# Provider used to search new RSS feeds, default is "rsssearchhub"
FP_EXPLORE_PROVIDER={{feedpushr_explore_provider}}

# Import an OPML file at bootstrap, disabled by default
# Example: "./my_subscriptions.opml"
FP_IMPORT={{feedpushr_import}}

# HTTP listen address, default is ":8080"
# Examples: `localhost:8080` or `:8080` for all interfaces
FP_LISTEN_ADDR={{feedpushr_listen}}

# Logging level, default is "info"
# Available levels are: `debug`, `info`, `warn` and `error`
FP_LOG_LEVEL={{feedpushr_log_level}}

# Log output, STDOUT if not set
# Example: `/var/log/feedpushr.log`
FP_LOG_OUTPUT={{feedpushr_log_file}}

# Writes log using plain text format, default is "false"
FP_LOG_PRETTY={{feedpushr_log_pretty}}

# Maximum number of feeds, default is 0 for unlimited
FP_MAX_NB_FEEDS={{feedpushr_max_nb_feeds}}

# Maximum number of outputs, default is 0 for unlimited
FP_MAX_NB_OUTPUTS={{feedpushr_max_nb_output}}

# Comma separated list of plugins to load, default is empty
# Example: `./plugins/feedpushr-twiter.so,./plugins/feedpushr-rake.so`
FP_PLUGINS={{feedpushr_plugins}}

# Public URL used for PSHB subscriptions, disabled by default
# Example: `https://example.org/feedpushr`
FP_PUBLIC_URL={{feedpushr_public_url}}

# Sentry DSN URL, disabled by default
# Example: `https://<id>:<key>@sentry.io/<project>`
FP_SENTRY_DSN={{feedpushr_sentry_dsn}}

# Aggregation timeout, default is 5s
FP_TIMEOUT={{feedpushr_timeout}}