[Unit]
Description=A simple feed aggregator service with sugar on top
After=network.target

[Service]
User={{ feedpushr_user }}
Group={{ feedpushr_group }}
ExecStart={{ feedpushr_install_dir }}/start.sh

[Install]
WantedBy=multi-user.target
